@media (min-width: 1025px){
  .container {
      max-width: 1010px;
  }
}

@media (max-width: 1024px) and (min-width: 767px){
  .container {
      max-width: 700px;
  }

  .home .text-section h1{
    font-size: 48px;
    width: 350px;
  }
  
  .home .text-section h2{
    font-size: 28px;
    width: 300px;
  }

  .icons-section a{
    font-size: 34px;
  }

  .home .image-section img{
    width: 280px;
  }

  .projects-section{
    grid-template-columns: 1fr 1fr;
  }

  .projects-section img{
    width: 290px;
  }

  .aboutme .container .profile-section img{
    width: 250px;
  }
  
  .aboutme .container .profile-section p{
    width: 400px;
    font-size: 18px;
  }
}

@media (max-width: 768px) and (min-width: 641px){
  .container {
      max-width: 600px;
  }

  .home .text-section h1{
    font-size: 44px;
    width: 350px;
  }
  
  .home .text-section h2{
    font-size: 24px;
    width: 300px;
  }

  .icons-section a{
    font-size: 27px;
  }

  .home .container{
    justify-content: center;
  }

  .home .image-section{
    display: none;
  }

  .aboutme .container .profile-section{
    flex-direction: column;
  }

  .aboutme .container .profile-section img{
    margin-bottom: 25px;
    margin-right: 0;
  }

  .aboutme .container .profile-section p{
    margin-bottom: 25px;  
    width: 350px;
    text-align: center;
  }

  .projects-section{
    grid-template-columns: 1fr;
    justify-items: center
  }

  .projects-section img{
    width: 350px;
  }

  .arrow-icon{
    font-size: 47px;
  }
}

@media (max-width: 640px) and (min-width: 100px){
  .container {
      max-width: 600px;
  }

  .home .container{
    justify-content: center;
    
  }

  .home .text-section{
    width: 300px;
  }

  .home .text-section h1{
    font-size: 35px;
    width: 350px;
  }
  
  .home .text-section h2{
    font-size: 24px;
    width: 150px;
  }

  .icons-section a{
    font-size: 24px;
  }

  .home .container{
    justify-content: center;
  }

  .home .image-section{
    display: none;
  }

  .aboutme .container .profile-section{
    flex-direction: column;
  }

  .aboutme .container .profile-section img{
    width: 180px;
    margin-bottom: 25px;
    margin-right: 0;
  }

  .aboutme .container .profile-section p{
    font-size: 18px;
    margin-bottom: 25px;  
    width: 250px;
    text-align: center;
  }

  .projects-section{
    grid-template-columns: 1fr;
    justify-items: center
  }

  .projects-section img{
    width: 300px;
  }

  .arrow-icon{
    font-size: 47px;
  }
}