@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #232946;
  color: white;
}

body, button, input, textarea{
  font-family: 'Montserrat';
}

input, textarea{
  color: white;
}

textarea{
  resize: none;
}

.container{
  width: 100%;
  margin: 0 auto;
}

.home .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
  position: relative;
}

.wave{
  background-image: url(../img/wave1.webp);
  background-repeat: no-repeat;
  background-position: top;
  height: 30vh;
  background-size: cover;
}

.home .text-section h1{
  font-size: 64px;
  font-weight: bold;
  width: 430px;
  margin-bottom: 20px;
}

.home .text-section h2{
  font-size: 48px;
  font-weight: 500;
  width: 430px;
  color: #B8C1EC;
  margin-bottom: 20px;
}

.icons-section a{
  text-decoration: none;
  color: #EEBBC3;
  margin-right: 25px;
  font-size: 54px;
}

.icons-section a:hover{
  filter: opacity(80%);
}

.arrow-icon{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 67px;
  color: #EEBBC3;
}

.arrow-icon:hover{
  filter: opacity(80%);
}

.aboutme{
  background-color: #121629;
}

.aboutme .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0px;
}

.aboutme .container .profile-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutme .container .profile-section img{
  width: 350px;
  margin-right: 20px;
}

.aboutme .container .profile-section p{
  width: 600px;
  font-size: 23px;
}


.title-section{
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-section div{
  background-color: #EEBBC3;
  color: #232946;
  padding: 10px;
  text-align: center;
}

.highlight-blue{
  color: #B8C1EC;
}

.projects .container{
  padding: 50px 0px;
}

.wave2{
  background-image: url(../img/wave2.webp);
  background-repeat: no-repeat;
  background-position: top;
  height: 30vh;
  background-size: cover;
}

.projects-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center
}

.projects-section img{
  width: 315px;
}

.contact{
  background-color: #121629;
}

.contact .container{
  padding: 100px 0;
}

.contact-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-section p{
  width: 500px;
  font-size: 23px;
  text-align: center;
  color: #B8C1EC;
}

.contact-section .contact-form{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.contact-section .contact-form input, .contact-section .contact-form textarea{
  background-color: transparent;
  padding: 10px;
  border: solid 2px #EEBBC3;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 16px;
}

.contact-section .contact-form label{
  margin-bottom: 3px;
}

.contact-section .contact-form button{
  margin-bottom: 3px;
  background-color: #EEBBC3;
  padding: 10px;
  border: solid 2px #EEBBC3;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
}

.contact-section .contact-form button:hover{
  filter: opacity(80%);
  cursor: pointer;
}

[data-anime] {
  opacity: 0;
  transition: opacity  .5s, transform .5s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
  transform: translate3d(0, -50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #EEBBC3;
  color: #232946;
  font-weight: bold;
}

@media (min-width: 1025px){
  .container {
      max-width: 1010px;
  }
}

@media (max-width: 1024px) and (min-width: 767px){
  .container {
      max-width: 700px;
  }

  .home .text-section h1{
    font-size: 48px;
    width: 350px;
  }
  
  .home .text-section h2{
    font-size: 28px;
    width: 300px;
  }

  .icons-section a{
    font-size: 34px;
  }

  .home .image-section img{
    width: 280px;
  }

  .projects-section{
    grid-template-columns: 1fr 1fr;
  }

  .projects-section img{
    width: 290px;
  }

  .aboutme .container .profile-section img{
    width: 250px;
  }
  
  .aboutme .container .profile-section p{
    width: 400px;
    font-size: 18px;
  }

  .contact-section p{
    width: 300px;
    font-size: 20px;
    text-align: center;
    color: #B8C1EC;
  }
  
  .contact-section .contact-form{
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}

@media (max-width: 768px) and (min-width: 641px){
  .container {
      max-width: 600px;
  }

  .home .text-section h1{
    font-size: 44px;
    width: 350px;
  }
  
  .home .text-section h2{
    font-size: 24px;
    width: 300px;
  }

  .icons-section a{
    font-size: 27px;
  }

  .home .container{
    justify-content: center;
  }

  .home .image-section{
    display: none;
  }

  .aboutme .container .profile-section{
    flex-direction: column;
  }

  .aboutme .container .profile-section img{
    margin-bottom: 25px;
    margin-right: 0;
  }

  .aboutme .container .profile-section p{
    margin-bottom: 25px;  
    width: 350px;
    text-align: center;
  }

  .projects-section{
    grid-template-columns: 1fr;
    justify-items: center
  }

  .projects-section img{
    width: 350px;
  }

  .arrow-icon{
    font-size: 47px;
  }

  .contact-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-section p{
    width: 400px;
    font-size: 20px;
    margin-bottom: 50px;
  }
  
  .contact-section .contact-form{
    width: 400px;
  }
}

@media (max-width: 640px) and (min-width: 100px){
  .container {
      max-width: 600px;
  }

  .home .container{
    justify-content: center;
    
  }

  .home .text-section{
    width: 300px;
  }

  .home .text-section h1{
    font-size: 45px;
    width: 300px;
  }
  
  .home .text-section h2{
    font-size: 30px;
    width: 300px;
  }

  .icons-section a{
    font-size: 35px;
  }

  .home .container{
    justify-content: center;
  }

  .home .image-section{
    display: none;
  }

  .aboutme .container .profile-section{
    flex-direction: column;
  }

  .aboutme .container .profile-section img{
    width: 180px;
    margin-bottom: 25px;
    margin-right: 0;
  }

  .aboutme .container .profile-section p{
    font-size: 18px;
    margin-bottom: 25px;  
    width: 250px;
    text-align: center;
  }

  .projects-section{
    grid-template-columns: 1fr;
    justify-items: center
  }

  .projects-section img{
    width: 300px;
  }

  .arrow-icon{
    font-size: 45px;
  }

  .contact-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-section p{
    width: 300px;
    font-size: 20px;
    margin-bottom: 50px;
  }
  
  .contact-section .contact-form{
    width: 300px;
  }

  [data-anime="left"] {
    transform: translate3d(-20px, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(20px, 0, 0);
  }
  
  [data-anime="top"] {
    transform: translate3d(0, -20px, 0);
  }
}